body{
    margin: 0;
    padding: 0;
    background-color: #c2b4b4;
    font-family: 'Open Sans', sans-serif;
}

h1{
    text-align: center; 
    color: #030303;
    font-size: 50px;    
}

footer{ 
    text-align: center; 
    color: #131212;
    font-size: 20px;    
}